.login_container {
  background: linear-gradient(rgb(203, 235, 219), rgb(55, 148, 192));
  min-height: 100vh;

  .content {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 200px;
    margin: auto;
    width: 700px;
    height: 550px;

    .component {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transition: all 500ms ease-in-out;
      border-radius: 10px;
      overflow: hidden;
      backface-visibility: hidden;
      box-shadow: 0 0 20px 0 #aaaaaa;
      &:hover {
        box-shadow: 0 0 40px 0 #777777;
      }
    }

    .RegisterComponent {
      z-index: 1;
      transform: rotateY(180deg);
      &Reverse {
        transform: rotateY(0);
        z-index: 3;
      }
    }
    .LoginComponent {
      z-index: 2;
      &Reverse {
        transform: rotateY(180deg);
      }
    }
  }
}
