@font-face {
  font-family: 'iconfont';  /* project id 1606839 */
  src: url('//at.alicdn.com/t/font_1606839_c05v8hp3gl.eot');
  src: url('//at.alicdn.com/t/font_1606839_c05v8hp3gl.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1606839_c05v8hp3gl.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1606839_c05v8hp3gl.woff') format('woff'),
  url('//at.alicdn.com/t/font_1606839_c05v8hp3gl.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1606839_c05v8hp3gl.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
