.home_container {
  display: flex;
  margin: 0 auto;
  background-color: white;

  .left {
    width: 280px;
    flex-shrink: 0;
    padding-left: 25px;

    .category {
      .item {
        position: relative;
        margin-top: 10px;
        &:hover .wrapper {
          display: flex;
          flex-wrap: wrap;
        }
        .titleBox{
          display: flex;
          align-items: center;
          justify-content: space-between;
          .titleLeft{
            display: flex;
            align-items: center;
            .icon{
              font-size: 28px;
              margin-right: 10px;
            }
          }
          .iconArrow{
            font-size: 13px;
            margin-right: 10px;
          }
        }
        .title {
          height: 35px;
          line-height: 35px;
          &:hover{
            font-size:16px ;
            color: #656565;
          }
        }
        .wrapper {
          width: 750px;
          position: absolute;
          z-index: 10;
          display: none;
          left: 100%;
          top: 0;
          background-color: white;
          padding-top: 10px;

          li {
            width: 250px;
            height: 42px;
          }
        }
      }
    }
  }

  .right {
    flex-grow: 1;
    width: 0;
  }
  .overlay {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, .5);
    }
  }
}
