.edit_container{
  overflow: auto;
  width: 70%;
  margin: 0 auto;

  .tabs {
    background-color: white;
    border-radius: 5px;
    margin-top: 10px;

    .tabPane {
      text-align: left;
      display: inline-block;
      width: 150px;
    }
  }
}
